.recipe {
  background-color: var(--color-grey-light-1);
  position: relative;
  @media only screen and (max-width:$bp-medium2) {
    left:100%;
    transition: 1.5s;
  }
  

  ///////////
  // FIGURE
  &__fig {
    height: 32rem;
    position: relative;
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        white,
        rgb(249, 193, 240)
      );
      opacity: 0.5;

    }

  
   
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;

  
    
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: white;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;
    @media only screen and (max-width:$bp-medium) {
      font-size: 2.25rem;
      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.6rem;

      }
    }
    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(
        to right bottom,
        var(--color-grad-1),
        var(--color-grad-2)
      );
      @media only screen and (max-width: $bp-medium) {
        padding: 1rem 1.7rem;

      }
    }

    @media only screen and (max-width: $bp-medium) {
      width: 40%;
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem;
    @media only screen and (max-width: $bp-medium) {
      padding: 4.5rem 5rem 1.5rem 5rem;
    }
   
     @media only screen and (max-width: $bp-smallest) {
      padding: 5.5rem 4rem 1.5rem 1rem;
    }
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
      @media only screen and (max-width: 600px) {
        margin-right: 3.5rem;  
        @media only screen and (max-width: 400px) {
          margin-right: 3.5rem;  
          font-size: 1.35rem;
    
        }
      }
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: var(--color-primary);
    margin-right: 1.15rem;
    @media only screen and (max-width: 600px) {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;   
    }
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;

    margin-left: auto;
    margin-right: 1.75rem;
    @media only screen and (max-width:"530px") {
      position: absolute;
    left: 81%;
    }
    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-primary);
    }
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 3rem 5rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: var(--color-grey-light-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 600px) {
      padding: 2rem 2rem;
      font-size: 1.4rem;

  }
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
    @media only screen and (max-width: 555px) {
      gap: 1rem 1rem;
    }
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 555px) {
      padding: 4rem 9rem;
    }
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: var(--color-grey-dark-2);
  }

  &__publisher {
    font-weight: 700;
  }
}